.*.swp
*.o
*.a
*.so
autom4te.cache/
.deps/
keybow/keybow
keybow/keybow-test
lua*/src/lua
lua*/src/luac
bcm2835-*/Makefile
bcm2835-*/src/Makefile
bcm2835-*/doc/Makefile
bcm2835-*/doc/Doxyfile
bcm2835-*/doc/doxyfile.stamp
bcm2835-*/doc/html/
bcm2835-*/config.h
bcm2835-*/config.h.in~
bcm2835-*/build
libserialport/build
libusbgx/build
